/* {
white: #EFE7E5;
deep dark red: #3D0103;
grey: #B0ACAB;
red: #9C1F20;
Black: #1C191B;
} */


/* Body */  
* {
  margin: 0;
  padding: 0;
}

body {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-align: center;
color: #1C191B; 
background-color: #EFE7E5;
}


/* Nav */
nav {
  margin: 0;
  padding: 0;
}

nav ul {
  text-align: right;
  position: fixed;
  width: 100%;
  background-color: #3D0103;
}

nav ul li {
  display: inline-block;
  padding: 30px;
  margin-right: 20px;
  color: #EFE7E5;
}

nav ul li a {
  color: #EFE7E5;
  text-decoration: none;
}

nav ul li a:hover {
  color: #B0ACAB;
}

#welcome-section {
  display: block;
  padding-top: 45vh;
  min-height: 55vh;
  color: #EFE7E5;
  background-color: #3D0103;
}


/* projects */

.work-header {
  Margin: 100px;
}


.project-pic {
    max-width: 300px;
}

/* media query */

@media only screen and (max-width: 500px) {
    nav ul {
      text-align: center;
    }
    nav ul li {
      margin: 20px;
    }
    .project {
      margin: 40px 0;
    }
  }