/* Body */  
* {
  margin: 0;
  padding: 0;
}

body {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-align: center; 
}


/* Nav */
nav {
  margin: 0;
  padding: 0;
}

nav ul {
  text-align: right;
  position: fixed;
  width: 100%;
  background-color: #b4b9ff;
}

nav ul li {
  display: inline-block;
  margin: 55px;
  padding: 0px;
  margin-bottom: 15px;
  margin-top: 25px;
}

.welcome-section {
  padding-top: 45%;
  min-height: 55%;
  color: #41a1f0;
}


/* projects */

.project-pic {
    max-width: 300px;
}

/* media query */

@media only screen and (max-width: 500px) {
    nav ul {
      text-align: center;
    }
    nav ul li {
      margin: 20px;
    }
    .project {
      margin: 40px 0;
    }
  }